.form label {
    font-size: 1.4rem;
    margin-top: 2rem;
    display: block;
}

.form input[type="text"],
.form input[type="url"],
.form input[type="color"] {
    margin-top: 0.5rem;
    border: none;
    padding: 1rem;
    border-radius: 0.25rem;
    display: block;
    width: 100%;
}

