.organization {
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media (min-width: 768px) {
    .organization {
        flex-direction: row;
        position: relative;
    }
}

.organization__heading {
    color: #6278F7;
    font-size: 2.5rem;
    padding-bottom: 2.4rem;
    border-bottom: 4px solid #6278F7;
}


.organization img {
    margin-top: 2.5rem;
}


@media (min-width: 768px) {
    .organization img {
        margin-top: 0;
        position: absolute;
        left: 75%;
        cursor: pointer;
    }
}